# ==========================
# Maven
# ==========================
target/
.mvn/wrapper/maven-wrapper.jar

# ==========================
# Spring Boot
# ==========================
HELP.md

# Environment variables
.env
.env.*

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml
*.ipr
*.iws

# ==========================
# Eclipse / STS
# ==========================
.project
.classpath
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Build outputs
# ==========================
build/
out/

# ==========================
# OS files
# ==========================
Thumbs.db
